<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <h1>Details Page</h1>
    <a href="/">Back</a>
    <h1>Name: <%= user.name %></h1>
    <h1>id: <%= user.id %></h1>
    <h1>age: <%= user.age %></h1>
  </body>
</html>
