<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">back</a>
    <form action="/api/users/ <%= user.id %>/update" method="post">
      <input type="text" name="name" value="<%= user.name %>" />
      <input type="text" name="age" value="<%= user.age %>" />
      <button>update</button>
    </form>
  </body>
</html>
